:root{
	--primary-color: red;
	--link-color: #0079ff;
	--success-color:#25ff3a;
	--side-menu-width:200px;
	--white:#fdfdfd;
	--border-color:#bfbfbf;
}
body{
	//required for react-motion-drawer
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
	[role=button]{
		cursor: pointer;
	}
	h1,h2,h3,h4,p{
		font-weight: 100;
	}
	button{
	    height: 40px;
	    text-align: center;
	    width: 100%;
	    background:  var(--success-color, deepskyblue);
	    color:black;
	    border:none;
	}
	form {
		margin: 10px auto;
		padding: 0;
		& >*{
			border:0;
		    border-bottom: 1px solid #bdbdbd;
			width: 100%;
			margin: 5px 0;
			height: 30px;
			text-align: center;
			background:none;
		}
	}
}

/* LAYOUTS */
.app{
	position: fixed;
	display: inline-flex;
  flex-direction: row;
  width: 100%;
  height:100%;
  display:inline-flex;
	.boardsList{
		display:flex;
	    flex-direction: column;
	    width:var(--side-menu-width);
	    padding:50px 0;
	    .boardPreview{
	    	padding:10px 10px;
	    	font-weight: 400;
	    	text-align: center;
	    	cursor: pointer;
	    }
	}
	.boardContainer{
		width: 100%;
		.board{
			position:absolute;
			width: 100%;
			height: 100%;
			display: inline-flex;
    	overflow: scroll;
    	background: #f4f4f4;
		}
	}
}
.columnContainer{
	width:300px;
	height: 100%;
	padding:20px 10px;
	&:last-child{
		.column{
			height:40px;
			.title{
				border-bottom:0;
			}
			&.add{
				text-align:center;
			}
		}
	}
}
.column{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #fafafa;
	width: 100%;
	border:1px solid var(--border-color);
	border-radius:5px;
	margin-bottom:30px;
	.title{
		height:40px;
		font-size:14px;
		font-color:black;
		display:table;
		width: 100%;
		text-align: center;
		background: var(--white);
		border-bottom:1px solid var(--border-color);
		border-radius: 10px 10px 0 0;
		margin-bottom:5px;
		.vertMid{
			display:table-cell;
			vertical-align: middle;
		}
		.small{
			margin:5px 0;
			font-color:#bfbfbf;
			font-size:12px;
		}
	}
	.task {
	  padding: 14px;
	  padding-top:0;
	  margin:10px;
	  background: #fff;
	  border-radius: 3px;
	  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
	  color:#001d2f;
	  // color: var(--primary-color);
	  .title{
			font-size:14px;
			font-color:black;
			padding:6px 0;
			text-align: left;
	  }
	  .description{
			font-size:11px;
			font-color:var(--border-color);
	  }
	  &:hover{
	  	background:rgba(230, 230, 230, 0.1);
	  }
		&:hover, &.selected{
			color: #0079ff;
			border: 1px solid var(--link-color);
	  }
	}
}



.npUl{
	.blip{
		display: inline-block;
	    margin: 5px;
	    border-radius: 8px;
	    border: solid 1px #bfbfbf;
	    background: white;
	    font-weight: 400;
	    outline:none;
	    font-size:14px;
	    p {
		    margin: 8px;
	    }
	    &:hover, &.selected{
	    	// specific for domain app
    		color: #0079ff;
    		border-color:#1DA1F2;
    		// regular
	    	// border-color:#1DA1F2;
	    	// color:#1DA1F2;
	    }
	}	
}
/* Responsive */
.card{
    border-radius: 5px;
    background: white;
    padding: 10px;
    border: 1px solid #d4d4d4;
}

/* UI GLOBALS */
.subaction{
	font-size: 10px;
	color: var(--link-color, #1da1f2);
	padding:0 7px;
    &:hover{
    	text-decoration: underline;
    }
}
.hyperlink{
	margin-top: 30px;
    color: var(--link-color, #1da1f2);
    &:hover{
    	text-decoration: underline;
    }
}
.welcomeText {
	color:grey;
	font-weight: 100;
}


