:root{
	--primary-color: red;
	--link-color: #0079ff;
	--success-color:#25ff3a;
	--side-menu-width:250px;
	--white:#fdfdfd;
	--border-color:#bfbfbf;
}

.taskTransitions-enter {
  opacity: 0.01;
}

.taskTransitions-enter.taskTransitions-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.taskTransitions-leave {
  opacity: 1;
}

.taskTransitions-leave.taskTransitions-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

body{
	//required for react-motion-drawer
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
	background-color:white;
	[role=button]{
		cursor: pointer;
	}
	h1,h2,h3,h4,p{
		font-weight: 100;
	}
	button{
	    height: 40px;
	    text-align: center;
	    width: 100%;
	    background:  var(--success-color, deepskyblue);
	    color:black;
	    border:none;
	}
	form {
		margin: 10px auto;
		padding: 0;
		& >*{
			border:0;
		  border-bottom: 1px solid #bdbdbd;
			width: 100%;
			margin: 5px 0;
			height: 30px;
			text-align: center;
			background:none;
		}
	}
}

/* LAYOUTS */
.app{
	position: fixed;
	display: inline-flex;
  flex-direction: row;
  width: 100%;
  height:100%;
  display:inline-flex;
  .leftMenuContainer{
  	min-width:var(--side-menu-width);
  	max-width: 350px;
    padding:50px 0 20px 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -12px;
    margin-right: -18px;
  }
	.boardsList{
    width: 100%;
    width: 100%;
    overflow-y: overlay;
    direction: rtl;
	    .boardPreview{
	    	padding:10px 10px;
	    	font-weight: 400;
	    	text-align: center;
	    	cursor: pointer;
	    	&.selected{
	    		color:var(--link-color);
	    	}
	    }
	}
	.formContainer{
		margin-bottom:30px;
		padding:0 20px;
		.boardForm{
			border-top:1px solid var(--border-color);
			top:30px;
		}
		input{
			border-bottom: 0;
		}
		button{
			border: 1px solid ;
			color: var(--link-color);
			margin: 2px;
    	height: 40px;
    	font-weight:100;
    	border-radius: 5px;
    	&:hover{
    		font-weight:400;
    	}
		}
	}
	.boardContainer{
		width: 100%;
		.board{
			position:absolute;
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap:wrap;
    	background: white;
    	overflow:scroll;
		}
	}
}
.columnContainer{
	width:300px;
	padding:20px 10px;
	&:last-child{
		.column{
			height:40px;
			.title{
				border-bottom:0;
			}
			&.add{
				text-align:center;
			}
		}
	}
}
.column{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #ededed;
	width: 100%;
	border:1px solid var(--border-color);
	border-radius:5px;
	margin-bottom:10px;
	min-height: 160px;
	.title{
		position:relative;
		height:40px;
		font-size:14px;
		font-color:black;
		display:table;
		width: 100%;
		text-align: center;
		background: var(--white);
		border-bottom:1px solid var(--border-color);
		border-radius: 10px 10px 0 0;
		margin-bottom:5px;
		.addButton{
	    position: absolute;
	    top:0;
	    right: 10px;
	    height: 100%;
	    font-size: 28px;
	    height: 100%;
	    color:var(--link-color);
	    cursor:pointer;
	    font-weight: initial;
	    font-weight: 100;
	    &:hover{
	    	font-size: 32px;
	    	top:-3px;
	    	right:9px;
	    	font-weight: 200;
	    }
		}
		.vertMid{
			display:table-cell;
			vertical-align: middle;
		}
		.small{
			margin:5px 0;
			font-color:#bfbfbf;
			font-size:12px;
		}
	}
	.task {
		cursor:pointer;
	  padding: 14px;
	  padding-top:0;
	  margin:10px;	  
	  border-radius: 3px;
	  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
	  color:#001d2f;
	  background:rgba(230, 230, 230, 0.1);
	  background: #fdfdfd;
	  // color: var(--primary-color);
	  .title,.newTaskTitle{
	  	border-radius: inherit;
	  	font-weight: 400;
			font-size:14px;
			font-color:black;
			padding:6px 0;
			text-align: left;
			background-color: inherit;
	  }
	  .description,.newTaskDescription{
			font-size:11px;
			font-color:var(--border-color);
	  }
	  &:hover{
	  	color: #0079ff;
	  	background: #fff;
	  }
		&.selected{
			border: 1px solid var(--link-color);
	  }
	  .flex{
	  	display:flex;
	  	width:100%;
	  	input{
	  		width: 100%;
	  		outline: 0;
    		border: 1px;
	  	}
	  }
	}
}

.npUl{
	.blip{
		display: inline-block;
	    margin: 5px;
	    border-radius: 8px;
	    border: solid 1px #bfbfbf;
	    background: white;
	    font-weight: 400;
	    outline:none;
	    font-size:14px;
	    p {
		    margin: 8px;
	    }
	    &:hover, &.selected{
	    	// specific for domain app
    		color: #0079ff;
    		border-color:#1DA1F2;
    		// regular
	    	// border-color:#1DA1F2;
	    	// color:#1DA1F2;
	    }
	}	
}

